.greeting-name-display:hover > button {
    visibility: visible;
}

.greeting-name-display {
    gap: unset;
}

.greeting {
    min-width: max-content;
}

.greeting > span:nth-child(2) {
    max-width: 15ch;
}

.name-input {
    max-width: 15ch;
    display: inline;
    padding: unset;
    text-align: center;
}