:root {
    text-shadow: 0px 0px 50px rgb(0, 0, 0);
    --transition: all 0.3s ease;
    user-select: none;
}

* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--light);
}

.hidden {
    visibility: hidden;
}

.App {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main {
    background-color: rgba(0, 0, 0, 0.28);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.bottom-bar,
.top-bar {
    min-height: 4rem;
    align-items: center;
    max-height: 4rem;
    display: flex;
}

.bottom-left,
.bottom-right,
.top-right,
.top-left {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    margin: 0 auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
}

input[type="text"]::selection {
    background-color: #f1f5f971;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 12px;
    min-height: 12px;
    border: 1px solid var(--light);
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: "\2714";
    position: absolute;
    color: var(--light);
    font-size: 12px;
    bottom: 0px;
    font-weight: 600;
    left: 1px;
}

.top-right {
    margin-right: 0.5rem;
    margin-left: auto;
    flex-basis: 6rem;
}

.tooltip-wrapper {
    visibility: hidden;
    display: inline-flex;
    position: relative;
}

.tooltip-wrapper .tooltip {
    min-width: max-content;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -35%);
    padding: 10px 20px;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.tooltip-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip-wrapper .tooltip::after {
    content: "";
    position: absolute;
    right: 100%;
    border: 5px solid transparent;
    border-right-color: var(--dark);
}

.clock-greeting-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bottom-bar {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.bottom-left-setting {
    opacity: 0.4;
    margin-left: 1rem;
}

.bottom-center-quote {
    height: 100%;
    width: 70%;
    min-height: fit-content;
    text-align: center;
    position: relative;
}

.quote-text {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transition: var(--transition);
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-author {
    position: absolute;
    opacity: 0;
    transition: var(--transition);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-center-quote:hover > .quote-author {
    transform: translate(-50%, 30%);
    opacity: 1;
}

.bottom-center-quote:hover > .quote-text {
    transform: translate(-50%, -80%);
}

.bottom-right-todo {
    position: relative;
    margin-right: 1rem;
}

.bottom-right-todo > span:first-child {
    cursor: pointer;
}


